<%= form_for @property, html: {:class => 'form-horizontal'} do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :images_string, 'Image URL', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :images_string, {rows: 3, style: 'width: 100%;'} %>
        <span class="help-inline">Images URL (separated by commas)</span>
      </div>
  </div>
  <div class="control-group">
    <%= f.label :type, 'Property Type', :class => 'control-label' %>
      <div class="controls">
        <%= f.select :type, PROPERTY_TYPES, {}, {style: 'width: 100%;'} %>
        <span class="help-inline">Choose the Property Type</span>
      </div>
  </div>
  <div class="control-group">
    <%= f.label :price, 'Price', :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :price, style: 'width: 100%;' %>
        <span class="help-inline">Set the price (in Integer, without commas), max: <%= number_to_currency MAX_PRICE %></span>
      </div>
  </div>
  <div class="control-group">
    <%= f.label :beds, 'Beds', :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :beds, style: 'width: 100%;' %>
        <span class="help-inline">Number of beds, max: <%= MAX_BEDS %></span>
      </div>
  </div>
  <div class="control-group">
    <%= f.label :bathrooms, 'Bathrooms', :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :bathrooms, style: 'width: 100%;' %>
        <span class="help-inline">Number of bathrooms, max: <%= MAX_BATHROOMS %></span>
      </div>
  </div>
  <div class="control-group">
    <%= f.label :car_spaces, 'Car Spaces', :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :car_spaces, style: 'width: 100%;' %>
        <span class="help-inline">Number of car spaces, max: <%= MAX_CAR_SPACES %></span>
      </div>
  </div>
  <div class="control-group">
    <%= f.label :address, 'Address', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :address, rows: 2, style: 'width: 100%;' %>
        <span class="help-inline">Property address</span>
      </div>
  </div>
  <div class="control-group">
    <%= f.label :desc_title, 'Title', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :desc_title, rows: 2, style: 'width: 100%;' %>
        <span class="help-inline">Property description (title)</span>
      </div>
  </div>
  <div class="control-group">
    <%= f.label :desc_body, 'Body', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :desc_body, rows: 7, style: 'width: 100%;' %>
        <span class="help-inline">Property description (body)</span>
      </div>
  </div>
  <%= f.submit 'Save', :class => 'btn btn-primary pull-right' %>
  <div style='clear: both'></div>
<% end %>
