<div class="box">
  <div class="box-title">
    <%= property.address %>
  </div>
  <div class="box-content nopadding" %>
    <div class="row-fluid nopadding">
      <div class="span8" style="margin: 0">
        <%= image_tag ImageSuckr::GoogleSuckr.new.get_image_url({'q' => 'property'}) %>
      </div>
      <div class="span4">
        blah blah
      </div>
    </div>
  </div>
</div>

<!--   <tr>
    <td><%= property.images %></td>
    <td><%= property.keywords %></td>
    <td><%= property.type %></td>
    <td><%= property.price %></td>
    <td><%= property.beds %></td>
    <td><%= property.bathrooms %></td>
    <td><%= property.car_spaces %></td>
    <td><%= property.address %></td>
    <td><%= property.desc_title %></td>
    <td><%= property.desc_body %></td>
    <td><%= link_to 'Show', property %></td>
    <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

 -->