<div class="box">
  <div class="box-title">
    <%= property.address %>
  </div>
  <div class="box-content nopadding" %>
    blah blah
  </div>
</div>

<!--   <tr>
    <td><%= property.images %></td>
    <td><%= property.keywords %></td>
    <td><%= property.type %></td>
    <td><%= property.price %></td>
    <td><%= property.beds %></td>
    <td><%= property.bathrooms %></td>
    <td><%= property.car_spaces %></td>
    <td><%= property.address %></td>
    <td><%= property.desc_title %></td>
    <td><%= property.desc_body %></td>
    <td><%= link_to 'Show', property %></td>
    <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

 -->