<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <% images = @property.images_string.split(',') %>
  <div class="carousel-inner" style="height: 320px;">
    <% images.each_with_index do |image, index| %>
      <div class="item <%= index == 0 ? 'active' : '' %>"><%= image_tag image, style: 'width: 100%;' %></div>
    <% end %>
  </div>

  <% if images.count > 1 %>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  <% end %>
</div>
<div style="overflow-y: auto">
<div class="address">
  <h3><%= @property.address %></h3>
  <div class="price" style="float:right">
    <h4><%= number_to_currency @property.price %></h4>
  </div>
  <div class="info">
    <h4><%= @property.type %> <%= @property.beds %> <%= @property.bathrooms %> <%= @property.car_spaces %></h4>
  </div>
  <hr />
</div>
<div class="description">
  <h3>Property Description</h3>
  <h4><%= @property.desc_title %></h4>
  <p><%= @property.desc_body %></p>
</div>