<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <% images = @property.images_string.split(',') %>
  <div class="carousel-inner" style="height: 320px;">
    <% images.each_with_index do |image, index| %>
      <div class="item <%= index == 0 ? 'active' : '' %>"><%= image_tag image, style: 'width: 100%;' %></div>
    <% end %>
  </div>

  <% if images.count > 1 %>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  <% end %>
</div>

<p>
  <b>Type:</b>
  <%= @property.type %>
</p>

<p>
  <b>Price:</b>
  <%= @property.price %>
</p>

<p>
  <b>Beds:</b>
  <%= @property.beds %>
</p>

<p>
  <b>Bathrooms:</b>
  <%= @property.bathrooms %>
</p>

<p>
  <b>Car spaces:</b>
  <%= @property.car_spaces %>
</p>

<p>
  <b>Address:</b>
  <%= @property.address %>
</p>

<p>
  <b>Desc title:</b>
  <%= @property.desc_title %>
</p>

<p>
  <b>Desc body:</b>
  <%= @property.desc_body %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
