<div class='box-content'>
  <%= form_for (@search), url: '/properties/search', method: :get do |f| %>
    <div>
      <%= f.label :keywords %>
      <%= f.text_field :keywords %>
    </div>
    <div>
      <%= f.label :type, 'Property Type' %>
      <%= f.select :type, ['All Property Types'] + PROPERTY_TYPES, {selected: @search.type || 'All Property Types'}, {multiple: true, size: PROPERTY_TYPES.count + 1, style: 'width: 100%;'} %>
    </div>
    
    <div>
      <div style="float: left; width: 48%">
        <%= f.label :min_beds %>
        <%= f.select :min_beds, 0..5, {}, {style: 'width: 100%;'} %>
      </div>
      <div style="float: right; width: 48%">
        <%= f.label :max_beds %>
        <%= f.select :max_beds, 0..5, {selected: @search.max_beds || 5}, {style: 'width: 100%;'} %>
      </div>
    </div>
    
    <div>
      <div style="float: left; width: 48%">
        <%= f.label :min_price %>
        <%= f.select :min_price, prices, {}, {style: 'width: 100%;'} %>
      </div>
      <div style="float: right; width: 48%">
        <%= f.label :max_price %>
        <%= f.select :max_price, prices, {selected: @search.max_price || 10000000}, {style: 'width: 100%;'} %>
      </div>
    </div>

    <%= render partial: 'layouts/left_menu_content', locals: { f: f} if @current_controller == 'properties' %>

    <%= f.submit 'Search', :class => 'btn btn-primary pull-right' %>
    <div style='clear: both'></div>
  <% end %>
</div>

<script>
$(function() {
  $('#search_type option:first-child').click(function() {
    $('#search_type option').attr('selected', 'selected');
    $('#search_type option:first-child').removeAttr('selected');
  });
});
</script>
